<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body class="font-sans">
  <img src="/images/profile.png" alt="Nature">

  <!-- <div class="header-section">

  </div> -->
  <h1 class="hello">
    Hello world! jrgbnhurej
  </h1>
</body>


</html>
