<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body class="font-sans">
  <div class="w-full overflow-x-hidden">
    <div class="bg-transparent max-w-7xl m-auto relative mt-0 mr-auto pt-4 w-full left-0 right-0 bottom-0 top-0 z-10">
      <div class="flex justify-start items-start h-auto relative mt-0">
        <img class="mr-auto" src="/images/pickmyad_logo.svg">
        <div class="inline-block rounded-full bg-avai flex pl-3">
          <span class="text-xs font-normal text-green-dark pr-2 pt-sf">Available for booking</span>
          <div class="bg-circle w-6 h-6 block rounded-full">
            <div class="bg-green w-jj h-jk block rounded-full mt-1 items-center text-center table mx-auto"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-0 mr-auto">
      <div class="relative mb-0 pt-st py-sy pr-10">
        <div class="absolute -top-20 left-0 right-0 bottom-0 overflow-hidden z-0">
          <div class="bottom-0 absolute top-0 right-0 left-0">
            <img class="w-full h-full" src="/images/unsplash.png">
            <div class="absolute top-0 right-0 left-0 bottom-0 bg-gradient-to-r from-black to-light"></div>
          </div>
        </div>
        <div class="md:flex relative w-full mr-auto pr-0 z-10 text-white max-w-7xl mx-auto">
          <img class="" src="/images/profile.png">
          <div class="pt-6 md:p-8 text-center md:text-left">
            <div class="flex">
              <p class="text-su font-semibold leading-normal text-white">
                Mr.Whosetheboss
              </p>
              <img src="/images/ic_baseline-verified.svg" class="ml-2.5 mt-2">
            </div>
            <figcaption>
              <div class="text-base font-normal leading-normal text-gray-dark">
                Vlog | Tech Review </div>
              <div class="flex pt-3.5">
                <div class="flex bg-gray rounded-kl px-2.5 py-1.5">
                  <img class="" src="/images/bx_bxl-youtube.svg">
                  <span class="text-base font-normal text-red-dark pl-1">32M</span>
                  <p class="text-base font-normal text-black pl-1">Subscribers</p>
                </div>
                <div class="flex bg-gray rounded-kl ml-2.5 px-2.5 py-1.5"><img class=""
                    src="/images/emojione-monotone_call-me-hand.svg">
                  <p class="text-base font-normal text-black pl-1">Talk to me</p>
                </div>
              </div>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="flex bg-red rounded-kl px-6 py-4 float-right relative -top-7 mr-gh h-hj">
        <!-- <img class="" src="/images/bx_bxl-youtube.svg"> -->
        <span class="text-base font-semibold text-white">BOOK SLOT</span>
        <!-- <p class="text-base font-normal text-black pl-1">Subscribers</p> -->
      </div>
    </div>
</body>


</html>