<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body class="font-sans">
  <section class="md:bg-black">
    <div class="w-full">
      <div
        class="bg-transparent xl:max-w-7xl lg:max-w-5xl md:max-w-2xl m-auto relative mt-0 mr-auto pt-4 w-full left-0 right-0 bottom-0 top-0 z-10">
        <div class="flex justify-start items-start h-auto relative mt-0">
          <img class="mr-auto" src="/images/pickmyad_logo.svg">
          <div class="inline-block rounded-full bg-avai flex pl-3">
            <span class="text-xs font-normal text-green-dark pr-2 pt-1 font-serif">Available for booking</span>
            <div class="bg-circle w-6 h-6 block rounded-full">
              <div class="bg-green w-jj h-jk block rounded-full mt-1 items-center text-center mx-auto"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-0 mr-auto">
        <div class="relative mb-0 pt-st py-sy pr-10">
          <div class="absolute -top-20 left-0 right-0 bottom-0 overflow-hidden z-0">
            <div class="bottom-0 absolute top-0 right-0 left-0">
              <img class="w-full h-full" src="/images/unsplash.png">
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(13deg, #000 3%, rgba(0, 0, 0, 0) 206%);"></div>
            </div>
          </div>
          <div
            class="md:flex relative w-full mr-auto pr-0 z-10 text-white xl:max-w-7xl lg:max-w-5xl md:max-w-2xl mx-auto">
            <img class="" src="/images/profile.png">
            <div class="pt-6 md:p-8 text-center md:text-left">
              <div class="flex verifedtool relative">
                <p class="text-su font-semibold leading-normal text-white truncate max-w-df">
                  Mr.Whosetheboss </p>
                <img src="/images/ic_baseline-verified.svg" class="ml-2.5 mt-2">
                <span
                  class="verifedtext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 bg-white invisible text-gray-veri text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-qw top-az left-ac">Verified
                  Account</span>
              </div>
              <figcaption>
                <div class="text-base font-normal leading-normal text-gray-dark">
                  Vlog | Tech Review </div>
                <div class="flex pt-3.5">
                  <a href="#">
                    <div
                      class="hidden block profiletool relative xl:flex lg:flex md:flex bg-gray rounded-kl px-2.5 py-1.5">
                      <img class="" src="/images/bx_bxl-youtube.svg">
                      <span class="text-base font-normal text-red-dark pl-1">32M</span>
                      <p class="text-base font-normal text-black pl-1">Subscribers</p>
                      <span
                        class="profiletext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-white invisible text-gray-veri text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-qw top-af left-ah">Subscribers</span>
                    </div>
                  </a>
                  <a href="#">
                    <div class="hidden block xl:flex lg:flex md:flex bg-gray rounded-kl ml-2.5 px-2.5 py-1.5"><img
                        class="" src="/images/emojione-monotone_call-me-hand.svg">
                      <p class="text-base font-normal text-black pl-1">Talk to me</p>
                    </div>
                  </a>
                </div>
              </figcaption>
            </div>
          </div>
        </div>
        <div
          class="hidden block booktool z-10 relative xl:flex lg:flex md:flex bg-red rounded-kl px-6 py-4 float-right relative -top-8 mr-gh h-hj hover:shadow-hj">
          <span class="text-base font-semibold text-white">BOOK SLOT</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
          <span
            class="booktooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-yu left-ah text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-qw">Click
            to book this slot</span>
        </div>
        <div
          class="hidden md:block hidetool z-10 relative xl:flex bg-arrow rounded-kl px-4 py-4 float-right relative -top-8 mr-2 h-hj hover:shadow-hj">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          </svg>
          <span
            class="hidetooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-yu left-yq text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-qw">
            Click to hide</span>
        </div>
      </div>
      <div class="bg-add">
        <div class="xl:max-w-7xl lg:max-w-5xl md:max-w-2xl m-auto relative pt-sq">
          <h1 class="text-black font-semibold text-2xl"> <span class="h-1 border-b-4 border-red">Ava</span>ilable Ads
          </h1>
          <div class="grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-3 gap-3 max-w-max pt-hj pb-ji">
            <div class="preadtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_intro_video.svg">
              <p class="text-black font-semibold text-base pt-wy">Indro Video</p>
              <span
                class="preadtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_shoutout.svg">
              <p class="text-black font-semibold text-base pt-wy">indro Shoutout</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_explainer.svg">
              <p class="text-black font-semibold text-base pt-wy">Explainer</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_l_banner.svg">
              <p class="text-black font-semibold text-base pt-wy">L Banner</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_logo.svg">
              <p class="text-black font-semibold text-base pt-wy">Logo</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_wearables.svg">
              <p class="text-black font-semibold text-base pt-wy">Wearables</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-rt text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_backdrop.svg">
              <p class="text-black font-semibold text-base pt-wy">Display Propertise</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-al text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>

            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_end_video.svg">
              <p class="text-black font-semibold text-base pt-wy">End Video</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-al text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
            <div class="adtool bg-card rounded-kl hover:shadow-ff w-wk pt-wy pb-wh pl-wl">
              <img src="/images/icon_end_shoutout.svg">
              <p class="text-black font-semibold text-base pt-wy">End Shoutout</p>
              <span
                class="adtooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-al text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-df">
                Click to book this ad</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:bg-black pt-jk">
      <h1 class="hidden md:block text-white text-center font-bold text-gh">STATS</h1>
      <div
        class="hidden md:block xl:max-w-7xl lg:max-w-5xl md:max-w-2xl m-auto xl:grid-cols-16 lg:grid-cols-3 md:grid-cols-2 xl:grid md:grid lg:grid pt-jk pb-ty">
        <div class="w-gh p-2.5">
          <div class="flex">
            <p class="text-white opacity-20 font-bold text-xs">Avg. Video Views</p>
            <img class="ml-auto" src="/images/Down Arrow.svg">
            <span class="text-pink-dark font-normal text-jh pl-1.5">-5.23%</span>
          </div>
          <h1 class="text-white opacity-70 font-normal text-fg pt-fg">3,623,902</h1>
          <img class="py-yu" src="/images/arrow_1.svg">
        </div>
        <div class="w-gh p-2.5">
          <div class="flex">
            <p class="text-white opacity-20 font-bold text-xs">Avg. Video Views</p>
            <img class="ml-auto" src="/images/Up Arrow.svg">
            <span class="text-pink-marine font-normal text-jh pl-1.5">+132%</span>
          </div>
          <h1 class="text-white opacity-70 font-normal text-fg pt-fg">465,22</h1>
          <img class="py-yu" src="/images/arrow_1.svg">
        </div>
        <div class="w-gh p-2.5">
          <div class="flex">
            <p class="text-white opacity-20 font-bold text-xs">LIKE RATE</p>
            <img class="pl-we" src="/images/greater.svg">
            <img class="ml-auto" src="/images/Up Arrow.svg">
            <span class="text-pink-marine font-normal text-jh pl-1.5">5.36%</span>
          </div>
          <h1 class="text-white opacity-70 font-normal text-fg pt-fg">3,623,902</h1>
          <img class="py-yu" src="/images/arrow_1.svg">
        </div>
        <div class="w-gh p-2.5">
          <div class="flex">
            <p class="text-white opacity-20 font-bold text-xs">BTC</p>
            <img class="pl-we" src="/images/greater.svg">
            <p class="text-white opacity-20 font-bold text-xs pl-we">IDR</p>
            <img class="ml-auto" src="/images/Up Arrow.svg">
            <span class="text-pink-marine font-normal text-jh pl-1.5">+132%</span>
          </div>
          <h1 class="text-white opacity-70 font-normal text-fg pt-fg">107.543,234</h1>
          <img class="py-yu" src="/images/arrow_1.svg">
        </div>
      </div>
      <div class="bg-red py-jk relative">
        <div class=" flex justify-center">
          <h1 class="text-white text-center font-semibold text-2xl"> <span
              class="h-1 border-b-4 border-blue">Lin</span>k
            to Everywhere</h1>
          <div
            class="question relative inline-block cursor-pointer bg-white rounded-full w-op h-io p-1 text-red-dark text-sm text-center mt-2.5 ml-2.5 leading-3">
            ?
            <div
              class="question-text invisible w-wi bg-white rounded-kl p-3 absolute z-10 -top-28 left-as after:absolute after:right-full after:border-solid after:top-ad after:border-12">
              <div class="flex">
                <span
                  class="bg-ques rounded-full w-op h-io p-1 text-white text-sm text-center mt-0.5 leading-3">?</span>
                <h1 class="text-sm text-black font-normal pl-1.5">Link to Everywhere</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-auto" fill="none" viewBox="0 0 24 24"
                  stroke="black">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </div>
              <p class="text-xs font-normal text-gray-ques pt-4 text-justify">The days you select will be repeated every
                week to ensure that your slots are available The days you
                select will be repeated every week to ensure that your slots are available when the brands visit your
                profile.</p>
            </div>
          </div>
        </div>
        <!-- <div class="pt-sy m-auto table">
          <div class="flex">
            <a href="#">
              <div class="facebook relative">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_facebook-logo-thin.svg">
                <span
                  class="facebooktext after:absolute after:top-full after:left-1/2 after:-ml-ui after:border-12 after:border-solid invisible bg-white text-gray-fb text-center absolute z-10 p-2.5 rounded-lg -ml-12 left-1/2 bottom-yu">Facebook</span>
              </div>
            </a>
            <a href="#">
              <div class="pl-qw">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_youtube-logo-thin.svg">
              </div>
            </a>
            <a href="#">
              <div class="pl-qw">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_twitter-logo-thin.svg">
              </div>
            </a>
            <a href="#">
              <div class="pl-qw">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_spotify-logo-thin.svg">
              </div>
            </a>
            <a href="#">
              <div class="pl-qw">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_linkedin-logo-thin.svg">
              </div>
            </a>
            <a href="">
              <div class="pl-qw">
                <img class="transition ease-in delay-150 hover:scale-125" src="/images/openmoji_instagram.svg">
              </div>
            </a>
          </div>
        </div> -->
        <div class="scroll-bar xl:absolute md:absolute lg:absolute xl:block lg:block md:block flex right-27 top-ya">
          <a href="#">
            <div class="tooltip relative">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_facebook-logo-thin.svg">
              <span
                class="tooltiptext invisible after:absolute after:top-rw after:left-full after:ml-ui after:border-12 after:border-solid after:-ml-px bg-white text-gray-fb text-center absolute z-10 p-2.5 rounded-lg -ml-24 bottom-0">Facebook</span>
            </div>
          </a>
          <a href="#">
            <div class="xl:pt-jf lg:pt-jf md:pt-jf">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_youtube-logo-thin.svg">
            </div>
          </a>
          <a href="#">
            <div class="xl:pt-jf lg:pt-jf md:pt-jf">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_twitter-logo-thin.svg">
            </div>
          </a>
          <a href="#">
            <div class="xl:pt-jf lg:pt-jf md:pt-jf">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_spotify-logo-thin.svg">
            </div>
          </a>
          <a href="#">
            <div class="xl:pt-jf lg:pt-jf md:pt-jf">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/ph_linkedin-logo-thin.svg">
            </div>
          </a>
          <a href="">
            <div class="xl:pt-jf lg:pt-jf md:pt-jf">
              <img class="transition ease-in delay-150 hover:scale-125" src="/images/openmoji_instagram.svg">
            </div>
          </a>
        </div>
        <div class="pt-kj flex justify-center">
          <div>
            <div
              class="border border-solid border-white pt-3.5 pb-yk xl:w-gj md:w-gj lg:w-gj rounded-kl hover:bg-ref cursor-pointer">
              <span class="text-sm text-white font-normal pl-rr">SHOP @ MY OFFICIAL STORE</span>
            </div>
            <div
              class="border border-solid border-white pt-3.5 xl:w-gj md:w-gj lg:w-gj pb-yk mt-jk rounded-kl hover:bg-ref cursor-pointer">
              <span class="text-sm text-white font-normal pl-rr">EQUIPMENTS I HAVE USED FOR CONTENT CREATION</span>
            </div>
            <div
              class="border border-solid border-white pt-3.5 xl:w-gj md:w-gj lg:w-gj pb-yk mt-jk rounded-kl hover:bg-ref cursor-pointer">
              <span class="text-sm text-white font-normal pl-rr">CHARITY FOR CHELDRENS</span>
            </div>
            <div
              class="link-con commontool relative border border-solid border-white xl:w-gj md:w-gj lg:w-gj pt-3.5 pb-yk mt-jk rounded-kl hover:bg-ref flex hover:underline text-white cursor-pointer">
              <span class="text-sm text-white font-normal pl-rr pr-tr">SPECIAL THANKS TO PickMyAD...JOIN
                NOW</span>
              <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="link h-io w-op font-normal" viewBox="0 0 20 20"
                  fill="white">
                  <path
                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                  <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg></a>
              <span
                class="commontooltext px-2.5 after:absolute after:bottom-full after:border-solid after:left-ag after:-ml-ui after:border-13 after:left-ag bg-click invisible text-white top-hg left-ah text-center text-xs font-semibold absolute z-10 rounded-hu w-max p-1.5 ml-qw">Join
                PickMyAd now</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-bla pt-jk relative">
        <h1 class="text-white text-center font-bold text-gh">Latest Videos</h1>
        <div class="container xl:max-w-7xl lg:max-w-5xl md:max-w-2xl pt-jk m-auto">
          <div class="grid xl:grid-cols-17 xl:grid-rows-17 md:grid-cols-15 md:grid-cols-15 xl:gap-11 md:gap-11 lg:gap-11 gap-2.5 grid-cols-2">
            <div
              class="profile-pic relative inline-block xl:col-start-1 lg:col-start-1 md:col-start-1 xl:col-end-1 md:col-end-1 lg:col-end-1 xl:row-start-1 md:row-start-1 lg:row-start-1 lg:row-end-6 md:row-end-6 xl:row-end-6 hover:shadow-gh ease-out duration-300 transition delay-150">
              <img src="/images/maxresdefault (1).jpg" class="rounded-kl w-full h-full">
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="edit absolute top-tg right-tg z-10 h-5 w-5"
                  viewBox="0 0 20 20" fill="white">
                  <path
                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                  <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg>
              </a>
              <a href="#"><img src="/images/ci_play-circle-outline.svg"
                  class="edit absolute top-0 right-0 left-0 bottom-0 m-auto h-po w-po rounded-full bg-play p-2.5 z-10"></a>
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(4deg, #000 -24%, rgba(0, 0, 0, 0) 132%);"></div>
            </div>
            <div
              class="xl:col-start-2 md:col-start-2 lg:col-start-2 xl:col-end-4 md:col-end-4 lg:col-end-4 xl:row-span-14 lg:row-span-14 md:row-span-14 relative hover:shadow-gh ease-in-out duration-300 ease-out duration-300 transition delay-150">
              <img src="/images/maxresdefault.jpg" class="rounded-kl w-full h-full">
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(10deg, #000 -6%, rgba(0, 0, 0, 0) 136%);"></div>
            </div>
            <div
              class="xl:row-span-17 md:row-span-17 lg:row-span-17 relative hover:shadow-gh ease-out duration-300 ease-out duration-300 transition delay-150">
              <img src="/images/maxresdefault (1).jpg" class="rounded-kl w-full h-full">
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(4deg, #000 -24%, rgba(0, 0, 0, 0) 298%);"></div>
            </div>
            <div
              class="xl:row-span-17 md:row-span-17 lg:row-span-17 relative hover:shadow-gh ease-out duration-300 ease-out duration-300 transition delay-150">
              <img src="/images/maxresdefault (3).jpg" class="rounded-kl w-full h-full">
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(4deg, #000 -24%, rgba(0, 0, 0, 0) 298%);"></div>
            </div>
            <div
              class="xl:row-span-9 md:row-span-9 lg:row-span-9 relative hover:shadow-gh ease-out duration-300 ease-out duration-300 transition delay-150">
              <img src="/images/maxresdefault (2).jpg" class="rounded-kl w-full h-full">
              <div class="absolute top-0 right-0 left-0 bottom-0"
                style="background-image: linear-gradient(4deg, #000 -24%, rgba(0, 0, 0, 0) 285%);"></div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="pt-20 text-center">
            <span class="text-white font-semibold text-base bg-red rounded-full px-lo py-3">View All</span>
          </div>
        </a>
        <h1 class="text-white text-center font-bold text-gh pt-ds">My projects</h1>
        <div class="container xl:max-w-7xl lg:max-w-5xl md:max-w-2xl pt-jk m-auto">
          <div class="grid xl:grid-cols-17 xl:grid-rows-17 md:grid-cols-15 md:grid-cols-15 xl:gap-11 md:gap-11 lg:gap-11 gap-2.5 p-2.5 grid-cols-2">
            <div
              class="xl:col-start-1 lg:col-start-1 md:col-start-1 xl:col-end-1 md:col-end-1 lg:col-end-1 xl:row-start-1 md:row-start-1 lg:row-start-1 lg:row-end-6 md:row-end-6 xl:row-end-6">
              <iframe class="rounded-kl w-full h-full bg-gri"></iframe>
            </div>
            <div
              class="xl:col-start-2 md:col-start-2 lg:col-start-2 xl:col-end-4 md:col-end-4 lg:col-end-4 xl:row-span-14 lg:row-span-14 md:row-span-14">
              <iframe class="rounded-kl w-full h-full bg-gri"></iframe>
            </div>
            <div class="xl:row-span-17 md:row-span-17 lg:row-span-17">
              <iframe class="rounded-kl w-full h-full bg-gri"></iframe>
            </div>
            <div class="xl:row-span-17 md:row-span-17 lg:row-span-17">
              <iframe class="rounded-kl w-full h-full bg-gri"></iframe>
            </div>
            <div class="xl:row-span-9 md:row-span-9 lg:row-span-9">
              <iframe class="rounded-kl w-full h-full bg-gri"></iframe>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="pt-20 text-center">
            <span class="text-white font-semibold text-base bg-red rounded-full px-lo py-3">View All</span>
          </div>
        </a>
        <div class="hidden md:block bg-bor bg-16 bg-bottom bg-repeat-x pt-vb">
        </div>
        <h1 class="hidden md:block text-white text-center font-bold text-gh pt-jk">Performance based on YT</h1>
        <div class="hidden md:block xl:max-w-7xl lg:max-w-5xl md:max-w-2xl m-auto pt-hi">
          <div>
            <img src="/images/graph.svg">
          </div>
        </div>
        <div class="xl:max-w-7xl lg:max-w-5xl md:max-w-2xl m-auto">
          <h1 class="text-white font-semibold text-xl pt-ti"> <span class="h-1 border-b-4 border-blue">Oth</span>ers
            Channels</h1>
          <div class="xl:grid-cols-16 lg:grid-cols-3 md:grid-cols-2 grid pt-lo gap-5 max-w-max">
            <div class="box border border-solid border-blu rounded-kl w-ds p-2.5 hover:shadow-fg ease-out duration-300">
              <div class="md:flex relative w-full mr-auto pr-0 z-10 text-white">
                <img class="" src="/images/profile.png" width="45" height="45">
                <div class="pt-1 pl-2.5 text-center md:text-left">
                  <div class="flex">
                    <p class="text-base font-semibold leading-normal text-white truncate max-w-sa">
                      Mr.Whosetheboss</p>
                    <img src="/images/ic_baseline-verified.svg" class="ml-2.5 mt-0.5" width="18" height="18">
                  </div>
                  <figcaption>
                    <div class="text-kl font-normal leading-normal text-blue-dark">
                      Vlog | Tech Review </div>
                  </figcaption>
                </div>
              </div>
              <div class="flex pt-2.5">
                <span class="text-white font-normal text-ju pr-sf pt-px">89K</span><img
                  src="/images/subscriber_icon.svg">
                <img src="/images/bx_bxl-youtube.svg" class="ml-auto">
              </div>
              <p class="text-jh font-normal text-blue-dark">Subscribers</p>
            </div>
            <div class="box border border-solid border-blu rounded-kl w-ds p-2.5 hover:shadow-fg ease-out duration-300">
              <div class="md:flex relative w-full mr-auto pr-0 z-10 text-white">
                <img class="" src="/images/profile.png" width="45" height="45">
                <div class="pt-1 pl-2.5 text-center md:text-left">
                  <div class="flex">
                    <p class="text-base font-semibold leading-normal text-white truncate max-w-sa">
                      Mr.Whosetheboss</p>
                    <!-- <img src="/images/ic_baseline-verified.svg" class="ml-2.5 mt-0.5" width="18" height="18"> -->
                  </div>
                  <figcaption>
                    <div class="text-kl font-normal leading-normal text-blue-dark">
                      Vlog | Tech Review </div>
                  </figcaption>
                </div>
              </div>
              <div class="flex pt-2.5">
                <span class="text-white font-normal text-ju pr-sf pt-px">89K</span><img
                  src="/images/subscriber_icon.svg">
                <img src="/images/bx_bxl-youtube.svg" class="ml-auto">
              </div>
              <p class="text-jh font-normal text-blue-dark">Subscribers</p>
            </div>
            <div class="box border border-solid border-blu rounded-kl w-ds p-2.5 hover:shadow-fg ease-out duration-300">
              <div class="md:flex relative w-full mr-auto pr-0 z-10 text-white">
                <img class="" src="/images/profile.png" width="45" height="45">
                <div class="pt-1 pl-2.5 text-center md:text-left">
                  <div class="flex">
                    <p class="text-base font-semibold leading-normal text-white truncate max-w-sa">
                      Mr.Whosetheboss</p>
                    <!-- <img src="/images/ic_baseline-verified.svg" class="ml-2.5 mt-0.5" width="18" height="18"> -->
                  </div>
                  <figcaption>
                    <div class="text-kl font-normal leading-normal text-blue-dark">
                      Vlog | Tech Review </div>
                  </figcaption>
                </div>
              </div>
              <div class="flex pt-2.5">
                <span class="text-white font-normal text-ju pr-sf pt-px">89K</span><img
                  src="/images/subscriber_icon.svg">
                <img src="/images/bx_bxl-youtube.svg" class="ml-auto">
              </div>
              <p class="text-jh font-normal text-blue-dark">Subscribers</p>
            </div>
          </div>
          <div class="pt-to">
            <span class="text-gray-light font-semibold text-base">SOUNDS EXCITED ?</span>
            <h1 class="text-white font-bold text-gh">
              Let us know if you are trying reach them
            </h1>
            <div class="xl:flex lg:flex pt-uo">
              <div class="">
                <p class="text-base font-semibold text-gray-light">Name</p>
                <div class="bg-name rounded-kl p-2.5 mt-2.5 xl:w-kj lg:w-kj md:kj">
                  <span class="text-gray-you font-normal text-base">Your Full name</span>
                </div>
              </div>
              <div class="xl:pl-tg lg:pl-tg">
                <p class="text-base font-semibold text-gray-light">Company name</p>
                <div class="bg-name rounded-kl p-2.5 mt-2.5  xl:w-kj lg:w-kj md:kj">
                  <span class="text-gray-you font-normal text-base">your brand/company name </span>
                </div>
              </div>
            </div>
            <div class="xl:flex lg:flex pt-tg">
              <div class="">
                <p class="text-base font-semibold text-gray-light">Email</p>
                <div class="bg-name rounded-kl p-2.5 mt-2.5  xl:w-kj lg:w-kj md:kj">
                  <span class="text-gray-you font-normal text-base">Enter a valid email ID</span>
                </div>
              </div>
              <div class="xl:pl-tg lg:pl-tg">
                <p class="text-base font-semibold text-gray-light">Mobile number</p>
                <div class="bg-name rounded-kl p-2.5 mt-2.5  xl:w-kj lg:w-kj md:kj">
                  <span class="text-gray-you font-normal text-base">Enter a Mobile number</span>
                </div>
              </div>
              <div class="hidden xl:block lg:block xl:pl-zc lg:pl-8 xl:-mt-7 lg:-mt-7 mt-2.5">
                <span class="inline-block border-l border-solid border-or h-5 ml-2.5"></span><br>
                <span class="text-white font-normal text-xl">OR</span><br>
                <span class="inline-block border-l border-solid border-or h-5 ml-2.5 mt-1.5"></span>
              </div>
              <a href="#">
                <div
                  class="xl:pl-za lg:pl-8 lg:pt-0 xl:-mt-2.5 lg:-mt-2.5 pt-2.5 text-center xl:text-justify lg:text-justify">
                  <span
                    class="block text-white font-semibold text-base bg-red rounded-full xl:px-lo py-3 lg:px-5 px-6">BOOK
                    SLOT</span>
                </div>
              </a>
            </div>
            <div
              class="xl:hidden lg:hidden  block xl:pl-zc lg:pl-8 xl:-mt-7 mt-2.5 text-center xl:text-justify lg:text-justify">
              <span class="inline-block border-l border-solid border-or h-5 ml-2.5"></span><br>
              <span class="text-white font-normal text-xl">OR</span><br>
              <span class="inline-block border-l border-solid border-or h-5 ml-2.5 mt-1.5"></span>
            </div>
            <a href="#">
              <div class="pt-jf text-center xl:text-justify lg:text-justify">
                <span
                  class="text-white font-semibold text-base bg-red rounded-full px-lo py-3 block xl:inline-flex lg:inline-flex">Send</span>
              </div>
            </a>
          </div>
        </div>
        <div class="bg-foo w-full mt-40">
          <span class="text-white font-normal text-base m-auto table py-6">© PickMyAd Pvt All rights received</span>
        </div>
      </div>
    </div>
  </section>
</body>


</html>